[Unit]
Description=Check battery status every 5 minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=120
OnUnitActiveSec=300
Unit=battery-status.service

[Install]
WantedBy=timers.target
