[Unit]
Description=A job to check for available updates

[Service]
Type=simple
ExecStart=%h/.local/bin/update-notification

[Install]
WantedBy=default.target
