[Unit]
Description=A job to set the screen color temperature

[Service]
Type=simple
ExecStart=%h/.local/bin/color-temperature

[Install]
WantedBy=graphical.target
